.button {
  padding-top: 5px;
  padding-right: 5px;
  padding-bottom: 5px;
  padding-left: 5px;
  border: 1px solid #ff6600;

  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  transition: 0.2s all;

  &:hover {
    background-color: #ff6600;
    transition: 0.2s all;
  }
}
